/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑";
}
body .page-wrapper {
  background: url("../img/main.jpg") fixed;
  background-size: cover;
  overflow: hidden;
  /*--------------------------------header部分--------------------------------------*/

  /*--------------------------------article部分------------------------------------*/

  /*--------------------------------footer部分-------------------------------------*/

}
body .page-wrapper header #banner {
  height: 300px;
  color: #ffffff;
}
body .page-wrapper header #banner .inner {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
}
body .page-wrapper header #banner .inner h1 {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
}
body .page-wrapper header #banner .inner p {
  line-height: 30px;
  margin: 30px;
}
body .page-wrapper header #banner .inner button {
  border: none;
  background-color: #00A3AF;
  color: #eeeeee;
  padding: 14px 40px;
}
body .page-wrapper header #banner .inner .more {
  margin-top: 300px;
}
body .page-wrapper article {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
}
body .page-wrapper article .content {
  padding: 40px;
}
body .page-wrapper article .content p {
  line-height: 30px;
}
body .page-wrapper footer {
  color: #ffffff;
  min-height: 200px;
  text-align: center;
}
body .page-wrapper footer .share {
  display: block;
  margin: 0 auto;
  padding: 50px;
}
body .page-wrapper footer .share li {
  display: inline-block;
  padding: 15px;
}
body .page-wrapper footer .share li a {
  color: #ffffff;
}
body .page-wrapper footer .copyright {
  padding-bottom: 20px;
}
body .back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  border: 1px solid #888;
}
